body {  /*font-size por default: 16px*/
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Abel', sans-serif;
}
.wrapper {
  max-width: 1024px;
  display: grid;
  grid-template: 40px 1fr 100px 1fr / minmax(50px,200px) minmax(420px,900px);
  grid-template-areas: "header header"
                       "sidebar main-video"
                       "sidebar middle-content"
                       "sidebar bottom-content";


}
.header {
  grid-area: header;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 1em;;
  align-items: center;
}
.header .title {
  font-size: 2em;
  display: flex;
}
.header .title .roja {
  color: red;
  background: -webkit-linear-gradient(left, red, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .user {
  display: flex;
  align-items: center;
}
.header .user img{
  padding: 0 .5em;
}
.sidebar {
  grid-area: sidebar;
  background-color: black;
  color: white;
  padding: .8em 0em;
}
.sidebar .title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1em;
  margin-left: .5em;
}
.sidebar .playlist ol {
  padding-left: 1.5em;
}
.sidebar .playlist ol li {
  font-size: .9em;
  padding-left: 1em;
  text-transform: capitalize;
}
.sidebar .playlists-frieds ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.sidebar .playlists-frieds ul li{
  display: flex;
  align-items: center;
  font-size: .9em;
  padding: .5em 1em;
}
.sidebar .playlists-frieds ul li img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0 1em;
}
.main-video {
  grid-area: main-video;
  margin: 0; 
}
.main-video iframe {
  width: 100%;
  height: 100%;
  margin: 0;
}
.middle-content {
  grid-area: middle-content;
  padding: .1em 1em .7em;
  display: flex;
  justify-content: space-between;
  box-shadow: rgb(136, 136, 136) 5px 10px 18px;
}
.middle-content .middle-left .title {
  font-size: 1em;
  text-transform: capitalize;
}
.middle-content .middle-left .num-visitas {
  color: gray;
  font-size: .8em;
}
.middle-content .middle-left {
  padding: .7em 0 0 0;
}
.middle-content .middle-left .icons {
  display: flex;
  margin: 0;
  margin-top: 1em;
}
.middle-content .middle-left .icons button{
  background-image: linear-gradient(to right, red ,pink);
  border-radius: 5px;
  /* padding: .5em; */
  color: white;
}
.middle-content .middle-left .icons .icon{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 1em;
  align-items: center;
  font-size: .8em;
} 
.middle-content .middle-right {
  display: flex;
  align-items: flex-end;
  margin: 0;
}
.middle-content .middle-right button { 
  color: white;
  padding: .7em;
  margin: 1em 1em 0 1em;;
  border-radius: 15px;
}
.middle-content .middle-right button.purple{
  background-color: purple;
}
.middle-content .middle-right button.green{
  background-color: green;
}
.middle-content .middle-right button.red{
  background-color: red;
}
.middle-content .middle-right button.pink{
  background-color: palevioletred;
}
.botoom-content {
  grid-area: bottom-content;
  padding: .1em 1em .7em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}
.botoom-content .comments input {
  width: 80%;
  height: 20px;
  padding: 5px 25px;
  margin: 10px 0px;
  background: #ece3e3 url('../images/user.svg') no-repeat left center ; 
  background-size: 20px;
}
.botoom-content .comments .comments-other-usr {
  display: flex;
}
.botoom-content .comments .comments-other-usr img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.botoom-content .comments .comments-other-usr .other-usr {
  margin: 0;
  margin-top: 1em;
}
.botoom-content .comments .comments-other-usr .other-usr .user-name,
.botoom-content .comments .comments-other-usr .other-usr .comment {
  margin: 5px 10px;
}
/* .botoom-content .suggestions {
  border: 1px solid purple;
} */
.botoom-content .suggestions .video {
  margin: .5em;
}